* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.hero {
    background-color: #1F2937;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.header-right ul {
    display: flex;
    gap: 30px;
}

.scooter-logo {
    width: 45px;
    height: auto;
}

.hero-content {
    display: flex;
    gap: 350px;
    padding: 60px 150px;
}

.left-hero {
    width: 400px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.hero-image {
    width: 500px;
    height: 300px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    padding: 4px 6px;
}

.header-right a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-right li {
    list-style-type: none;
}

.text-hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext-hero {
    font-size: 18px;
    color: #E5E7EB;
}